# Rust Binary and Backup files
/target
**/*.rs.bk

# Vim Swap files
*.swp

# Visual Studio Code Workspace
.vscode/
*.code-workspace

# Mac Desktop Services Store
.DS_Store

# Configure file
config.toml
